/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dda1e3; /* fundo branco */
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #dda1e3; /* fundo branco */
  color: #333; /* texto escuro */
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* Navegação */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

nav a {
  color: #8b8181; /* cor escura para links */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #d792c2; /* destaque rosa ao passar o mouse */
}

/* Conteúdo principal */
main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(216, 178, 225, 0.673);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Imagem de perfil */
.foto-perfil {
  display: block;
  max-width: 200px;
  border-radius: 50%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(151, 95, 215, 0.1);
}

/* Ícones de contato */
.icones-contato {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.icones-contato a {
  text-align: center;
  color: #262426;
  text-decoration: none;
  font-size: 1.2em;
  transition: transform 0.3s;
}

.icones-contato a:hover {
  transform: scale(1.1);
  color: #4d85bd;
}

.icones-contato i {
  font-size: 2em;
  margin-bottom: 5px;
  display: block;
}